$heading-size-1: 150px;
$heading-size-2: 100px;
$heading-size-3: 80px;
$heading-size-4: 56px;
$heading-size-5: 32px;
$heading-size-6: 28px;
$heading-size-7: 20px;
$heading-size-8: 24px;
$heading-size-9: 40px;

$subheading-size-1: 28px;
$subheading-size-2: 16px;
$subheading-size-3: 15px;
$subheading-size-4: 14px;
$nav-text-size-1: 16px;
$bodytext-size-1: 18px;

$font-heading: 'Bellefair', serif;
$font-subHeading: 'Barlow Condensed', serif;
$font-body: 'Barlow', serif;

$font-spacing-xxSmall: 0.75px;
$font-spacing-exSmall: 1.25px;
$font-spacing-small: 2.35px;
$font-spacing-medium: 2.7px;
$font-spacing-medium-large: 3.38px;
$font-spacing-large: 4.75px;
