$heading-size-1: 150px;
$heading-size-2: 100px;
$heading-size-3: 56px;
$heading-size-4: 32px;
$heading-size-5: 28px;

$subheading-size-1: 28px;
$subheading-size-2: 14px;
$nav-text-size-1: 16px;
$bodytext-size-1: 18px;

$font-heading: 'Bellefair', serif;
$font-body: 'Barlow Condensed', serif;

$font-spacing-small: 2.35;
$font-spacing-medium: 2.7;
$font-spacing-large: 4.75;
