@use "../abstracts/colors" as color;
@use "../base/typography" as type;

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 24px;
	z-index: 19;

	&-logo {
		width: 40px;
		height: 40px;
	}

	&-menu {
		width: 24px;
		height: 24px;
		z-index: 21;
	}

	&-close {
		width: 24px;
		height: 24px;
		padding-right: 24px;
		z-index: 20;
	}

	&-nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 70%;
		height: 100vh;
		backdrop-filter: blur(20px);
		transform: translatex(24px);
		padding-left: 2rem;
		padding-right: 4px;
		z-index: 20;

		&-mobile-hide {
			backdrop-filter: blur(0px);
			transform: translatex(0px);
			width: 1rem;
		}

		&-list {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			padding-top: 3rem;
		}

		&-listItem {
			font-family: type.$font-subHeading;
			font-size: type.$nav-text-size-1;
			letter-spacing: type.$font-spacing-medium;
			color: color.$color-white;
			font-weight: 100;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 2rem;
			width: 100%;
			height: 31px;
			padding-left: 2rem;

			& a {
				color: color.$color-white;
			}

			&-active {
				border-right: 4px solid color.$color-white;
				transform: translateX(4px);
			}
		}

		&-pageNo {
			padding-right: 14px;
			color: color.$color-white;
			font-weight: 800;
		}
	}
}

.mob-hidden {
	display: none;
}
